.swiper-pagination-bullet {
  background: #ffffff;
  width: 16px;
  height: 16px;
  opacity: 1;
}

.swiper-pagination {
  text-align: right;
  padding-right: 140px;
}

.swiper-pagination-bullet-active {
  background: #906eee;
}
